Source: ros-noetic-cob-image-flip
Section: misc
Priority: optional
Maintainer: Richard Bormann <richard.bormann@ipa.fraunhofer.de>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-cob-perception-msgs, ros-noetic-cv-bridge, ros-noetic-geometry-msgs, ros-noetic-image-transport, ros-noetic-nodelet, ros-noetic-pcl-conversions, ros-noetic-pcl-ros, ros-noetic-pluginlib, ros-noetic-roscpp, ros-noetic-sensor-msgs, ros-noetic-stereo-msgs, ros-noetic-tf
Homepage: http://wiki.ros.org/cob_image_flip
Standards-Version: 3.9.2

Package: ros-noetic-cob-image-flip
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-cob-perception-msgs, ros-noetic-cv-bridge, ros-noetic-geometry-msgs, ros-noetic-image-transport, ros-noetic-nodelet, ros-noetic-pcl-conversions, ros-noetic-pcl-ros, ros-noetic-pluginlib, ros-noetic-roscpp, ros-noetic-sensor-msgs, ros-noetic-stereo-msgs, ros-noetic-tf
Description: Flips the image of Care-O-bots kinect in dependence of the viewing direction of the cameras to receive an upright image all the time.
